*{
    font-family: 'Space Grotesk', sans-serif;
}

header{
    background-color: rgb(41, 40, 40);
}

.logo{
    width: 15vh;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav li {
    margin: 0 0 0 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

li a {
    display: flex;
    color: WhiteSmoke;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
    text-decoration: none;
}

li a:hover {
    color: rgb(164, 179, 194);
    text-decoration: overline;
}

/* ITEMS */

h2{
    font-size: 4vh;
    font-weight: 600;
}

.img{
    width: 30vh;
    filter:opacity(85%);
}

.items_p{
    align-items:end;
    background-color: WhiteSmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 20px;
}

.item{
    background-color: white;
    border-color: rgb(131, 131, 131);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 50%;
    margin: 0 1.5%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgb(161, 161, 161);
}

.item:hover{
    border-color: rgb(97, 97, 158);
    font-size: 30px;
}

.item:hover h2{
    font-weight: bolder;
    color: rgb(92, 92, 201);
}

.item:active{
    border-color: RoyalBlue;
}

.desc{
    font-size: 18px;
}

.precio{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    color: LightSlateGray;
}

@media only screen and (max-width: 600px) {
    .items_p{
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .item{
        padding: 25px 10px;
        margin: 1.5% 0;
    }
}

/* FOOTER */

footer{
    background-image: url(../img/bg.jpg);
    text-align: center;
    padding: 20px;
    color: white;
}

.img2{
    width: 20vh;
}

.copy{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
}

@media only screen and (max-width: 920px) {
    .box {
        padding: 1em 4em;
    }

    .logo{
        width: 12vh;
    }

    li a {
        font-size: 2.5vh;
    }

    nav li {
        margin: 0 0 0 10px;
    }
}
